/* Reset default styles */
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Body styles */
body {
    overflow-x: hidden;
}

/* Main section height */
#main-section {
    height: 85vh;
    opacity: 0;
    filter: blur(5px);
    transition: opacity 1s ease, filter 0.5s ease;
}

#main-section.animate {
    opacity: 1;
    filter: blur(0);
}

/* General nav styles */
nav {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    padding: 0 9vw;
}

/* First nav specific styles */
#navlist-one {
    height: 9.5vh;
    position: relative; /* Ensure proper context for sticky positioning */
}

/* Second nav specific styles */
#navlist-two {
    height: 10vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: 10px;
    backdrop-filter: blur(20px);
    position: sticky;
    top: 0;
    z-index: 10;
    padding-top: 2vh;
    margin-bottom: 2vh;
}

/* Brand styling */
.brand {
    color: black;
    margin-left: -2vw;
    font-weight: 700;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
}

/* General ul styles */
ul {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

/* Nav links styles */
nav ul a {
    color: #34332f;
    margin-left: 3vw;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/* Contact button styles */
.contact-button {
    padding: 14px 30px;
    color: black;
    background-color: white;
    backdrop-filter: blur(25px);
    text-decoration: none;
    border-radius: 22px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    display: inline-flex;
    align-items: center;
    margin-left: 2vw;
    position: sticky;
    top: 0; /* Ensure sticky positioning */
}

/* Last nav element styles */
#last-nav-element {
    display: inline-flex;
    align-items: center;
    margin-left: 2vw;
}

/* Current page link styles */
.current-page {
    color: #9e9e9e;
}

/* Hover styles for nav links */
ul li a:hover {
    color: #9e9e9e;
}

/* Hover styles for contact button */
.contact-button:hover {
    color: black !important;
}

/* Icon styles */
i {
    margin-right: 5px;
    font-size: 2em;
    display: flex;
    align-items: center;
    margin-left: -1vw;
}

/* Specific styles for second nav ul */
#navlist-two ul {
    justify-content: flex-start;
    flex-grow: 0;
    margin-left: -4vw;
    gap: 0; /* Space between items, similar to the first nav */
    padding-left: 2px;
    margin-top: -1vw;
}

/* Second nav links styles */
#navlist-two ul li a {
    margin-left: 2vw;
    font-size: 14.5px;
}

#main-section h1 {
    margin-top: 5vh;
    text-align: center;
    font-size: 6em;
    font-weight: 700;
}

#main-section p {
    font-size: 25px;
    color: #a2a2a2;
    line-height: 28px;
    font-family: sans-serif;
    font-weight: 300;
    width: 60vw;
    margin: 40px auto 0;
    text-align: center;
}

#scroll-here {
    height: 8vh;
}

#roles-section #heading{
    margin-top: 2vh;
    text-align: center;
    font-size: 3em;
    font-weight: 700;
}

#roles-section #subheading {
    font-size: 20px;
    color: #a2a2a2;
    line-height: 28px;
    font-family: sans-serif;
    font-weight: 300;
    width: 100vw;
    margin: 40px auto 0;
    text-align: center;
    margin-top: 2px;
}

/* Specific styles for hero section buttons */
#roles-section button {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    color: white; /* Ensure button text color is white */
    border: 1px solid black;
    background: black;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .5s ease;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 5vh;
}

/* Ensure link inside button remains white */
#roles-section button a,
#roles-section button a:visited {
    color: white !important; /* Add !important to ensure it overrides other styles */
}

#roles-section button:hover a,
#roles-section button:hover a:visited {
    color: rgb(0, 0, 0) !important; /* Change link color to black on hover */
}

#roles-section button:hover {
    background: transparent;
}

#roles-section #cards-container {
    display: flex;
    justify-content: center;
    margin: 0px;
    flex-wrap: wrap;
}

#roles-section .cards {
    height: 440px;
    border: 1px solid #000;
    width: 335px;
    margin-left: 1vw;
    margin-top: 3vh;
    padding-left: 30px;
    padding-right: 30px;
}

#roles-section .cards p {
    text-align: center;
    margin-top: 30px;
    color: #a2a2a2;
    line-height: 28px;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 16px;
}

#roles-section .cards h1 {
    text-align: center;
    margin-top: 60px;
    font-family: sans-serif;
}

#team-section h1 {
    margin-top: 8vh;
    text-align: center;
    font-size: 5em;
    font-weight: 700;
    margin-bottom: -10vh;
}

#team-section h2 {
    margin-top: 15vh;
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 5vh;
}

#team-section .cards-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5vh
}

#team-section img {
    height: 320px;
    width: 320px;
    object-fit: cover;
}

#team-section .cards2 {
    height: 440px;
    width: 410px;
    margin-left: 1vw;
    margin-top: 3vh;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;

}

#team-section .cards2 p {
    text-align: center;
    color: #000;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px
}

#team-section .cards2 h3 {
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
}

