/* Variables */
:root {
    --quantity: 8;
}

/* Reset default styles */
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Body styles */
body {
    overflow-x: hidden;
}

/* Main section height */
#main-section {
    height: 85vh;
    opacity: 0;
    transition: opacity 1s ease;
    filter: blur(5px);
}

#main-section.animate {
    opacity: 1;
    filter: blur(0);
}

/* General nav styles */
nav {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    padding: 0 9vw;
}

/* First nav specific styles */
#navlist-one {
    height: 9.5vh;
    position: relative; /* Ensure proper context for sticky positioning */
}

/* Second nav specific styles */
#navlist-two {
    height: 10vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: 10px;
    backdrop-filter: blur(20px);
    position: sticky;
    top: 0;
    z-index: 10;
    padding-top: 2vh;
    margin-bottom: 2vh;
}

/* Brand styling */
.brand {
    color: black;
    margin-left: -2vw;
    font-weight: 700;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
}

/* General ul styles */
ul {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

/* Nav links styles */
nav ul a {
    color: #34332f;
    margin-left: 3vw;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/* Contact button styles */
.contact-button {
    padding: 14px 30px;
    color: black;
    background-color: white;
    backdrop-filter: blur(25px);
    text-decoration: none;
    border-radius: 22px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    display: inline-flex;
    align-items: center;
    margin-left: 2vw;
    position: sticky;
    top: 0; /* Ensure sticky positioning */
}

/* Last nav element styles */
#last-nav-element {
    display: inline-flex;
    align-items: center;
    margin-left: 2vw;
}

/* Current page link styles */
.current-page {
    color: #9e9e9e;
}

/* Hover styles for nav links */
ul li a:hover {
    color: #9e9e9e;
}

/* Hover styles for contact button */
.contact-button:hover {
    color: black !important;
}

/* Icon styles */
i {
    margin-right: 5px;
    font-size: 2em;
    display: flex;
    align-items: center;
    margin-left: -1vw;
}

/* Specific styles for second nav ul */
#navlist-two ul {
    justify-content: flex-start;
    flex-grow: 0;
    margin-left: -4vw;
    gap: 0; /* Space between items, similar to the first nav */
    padding-left: 2px;
    margin-top: -1vw;
}

/* Second nav links styles */
#navlist-two ul li a {
    margin-left: 2vw;
    font-size: 14.5px;
}

/* Hero section styling */
.hero-section {
    flex: 1;
    width: 55vw;
}

/* Hero section heading styling */
.hero-section h1 {
    font-size: 6em;
    font-weight: 700;
    margin-left: 7vw;
    margin-top: 20px;
    line-height: 70px;
    width: 70vw;
}

/* Hero section paragraph styling */
.hero-section p {
    font-size: 25px;
    color: #a2a2a2;
    margin-top: 40px;
    margin-left: 7vw;
    line-height: 28px;
    font-family: sans-serif;
    font-weight: 300;
}

/* Specific styles for hero section buttons */
.hero-section button {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    color: white; /* Ensure button text color is white */
    border: 1px solid black;
    background: black;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .5s ease;
    margin-top: 5vh;
    margin-left: 7vw;
}

/* Ensure link inside button remains white */
.hero-section button a,
.hero-section button a:visited {
    color: white !important; /* Add !important to ensure it overrides other styles */
}

.hero-section button:hover a,
.hero-section button:hover a:visited {
    color: black !important; /* Change link color to black on hover */
}

/* Hover effect */
.hero-section button:hover {
    background: transparent;
    border: 1px solid rgb(10, 0, 0);
    transform: translateX(10px);
    color: black;
}

/* Contact button specific styles */
#contact-button {
    border: 1px solid rgb(4, 1, 1);
    margin-left: 1.5vw;
    color: black !important;
    background-color: transparent;
}

#contact-button a,
#contact-button a:visited {
    color: black !important; /* Or the color you want the button text to be */
}

/* Intro skill section styling */
#testimony {
    height: 120vh;
    width: 100vw;
}

/* Image styles */
.image-display {
    margin-left: 12px;
}

.image-display img {
    border-radius: 16px;
    max-width: 100%;
    transition: all 1s ease;
}

.image-display #img1 {
    position: absolute;
    top: 123vh;
    height: 38vh;
    width: 30vw;
    margin-left: 20px;
}

.image-display #img2 {
    position: absolute;
    top: 180vh;
    left: 71.5vw;
    height: 38vh;
    width: 26vw;
    z-index: 4;
}

.image-display #img3 {
    position: absolute;
    margin-left: 20px;
    top: 180vh;
    height: 38vh;
    width: 32vw;
    z-index: 1;
}

.image-display #img4 {
    position: absolute;
    top: 173vh;
    left: 55vw;
    height: 52vh;
    width: 22vw;
    z-index: 3;
}

.image-display #img5 {
    position: absolute;
    top: 185vh;
    left: 26vw;
    height: 40vh;
    width: 32vw;
    margin-left: 20px;
    z-index: 2;
}

.image-display #img6 {
    position: absolute;
    top: 103vh;
    left: 28vw;
    height: 65vh;
    width: 22vw;
    z-index: 3;
}

.image-display #img7 {
    position: absolute;
    top: 113vh;
    left: 45vw;
    height: 45vh;
    width: 28vw;
    z-index: 3;
}

.image-display #img8 {
    position: absolute;
    top: 123vh;
    left: 67.5vw;
    height: 38vh;
    width: 30vw;
}

.image-display .translateDown {
    transform: translateY(50px);
    transition: transform 1s ease;
}

.image-display .translateUp {
    transform: translateY(-50px);
    transition: transform 1s ease;
}

/* Skills section styling */
#skills-section {
    height: 115vh;
    overflow-y: hidden;
}

#skills-section h1 {
    font-size: 80px;
    font-weight: 700;
    margin-left: 7vw;
    line-height: 70px;
    width: 70vw;
    position: absolute;
    top: 255vh;
}

#skills-section p {
    position: absolute;
    top: 278vh;
    width: 60vw;
    margin-top: 20px;
    margin-left: 7vw;
    font-size: 25px;
    color: #a2a2a2;
    line-height: 28px;
    font-family: sans-serif;
    font-weight: 300;
}

#skills-section h4 {
    position: absolute;
    top: 298vh;
    width: 60vw;
    margin-top: 13vh;
    margin-left: 7vw;
    font-size: 25px;
    color: #a2a2a2;
    line-height: 28px;
    font-family: sans-serif;
    font-weight: 300;
}

#skills-section h4:hover {
    text-decoration: underline;
}

.skills-text {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(300px);
    transition: transform 1s ease, opacity 1s ease;
}

.skills-text.animate {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
}

/* Rotating banner styles */
.fade-out-trigger {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    z-index: 5;
    opacity: 0;
}

.banner.lazy-load {
    opacity: 1;
    transition: opacity 1s ease;
}

.banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    opacity: 0;
    transition: opacity 1s ease;
}

.banner .slider {
    position: absolute;
    top: 10%;
    width: 14vw;
    height: 36vh;
    top: 10%;
    left: calc(50% - 7vw);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: rotate 20s linear infinite;
    z-index: 1;
}

@keyframes rotate {
    from {
        transform: perspective(1200px) rotateX(-16deg) rotateY(0deg)
    }
    to {
        transform: perspective(1200px) rotateX(-16deg) rotateY(360deg)
    }
}

.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform:
    rotateY(calc((var(--position) - 1) * 360/var(--quantity) * 1deg))
    translateZ(35vw);
    z-index: 1
}

.banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: all 0.5s ease;
    opacity: 1;
}

.banner .slider .item img:hover {
    transform: scale(1.1);
}

.tree-img {
    position: relative;
    top: 12vh;
    padding: 0;
    margin: 0;
    height: 88vh;
    width: auto;
    max-width: 75%;
    z-index: -1;
}

/* Description Section */
.roots-img {
    height: 170vh;
    width: 100%;
    max-width: 95%;
    margin-top: -32vh;
    position: relative;
    left: 2.5vw;
    opacity: 0;
    transition: opacity 1s ease;
}

.roots-img.animate {
    opacity: 1;
    transition: opacity 1s ease;
}

.fade-trigger {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 97vh;
    z-index: 5;
    transform: translateY(0px);
    transition: filter 0.3s ease;
}

/* Design arrows */
#design-arrow1 {
    width: 200px;
    height: 300px;
    transform: rotate(90deg);
    position: absolute;
    top: -365px;
    right: -25px;
}

#design-arrow2 {
    width: 500px;
    height: 400px;
    transform: rotate(270deg);
    position: absolute;
    top: -135px;
    left: -118px;
}

#design-arrow3 {
    width: 500px;
    height: 400px;
    transform: rotate(90deg);
    position: absolute;
    top: 163px;
    left: -415px;
}

#design-arrow4 {
    width: 200px;
    height: auto;
    transform: rotate(270deg);
    position: absolute;
    top: 516px;
    right: -150px;
}

#final-arrow {
    position: absolute;
    width: 190px;
    height: auto;
    top: 720px;
    left: -134px;
}

/* Description section styles */
#description {
    background-color: black;
    z-index: -3;
    padding: 50px 0;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    height: 345vh;
    overflow-y: hidden;
}

.arrow-container {
    position: relative;
    display: grid;
}

/* Window close button */
#window-close div {
    width: 195px;
    height: 90px;
    position: absolute;
    top: 735vh;
    left: 41.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.5px;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.5);
    border-radius: 50%;
}

.side-final-button span {
    opacity: 0;
}

#window-close #creativity-writing {
    color: #2f2d2d;
    opacity: 1;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 700;
}

/* Specific styles for creativity section */
#creativity {
    z-index: 2;
    background-color: #fefefe;
}
